* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  font-size: 16px;
}
:root {
  --primary-color: #4891ff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

/* Navbar */

.navbar {
  padding: 20px;
  background-color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .main-menu ul {
  display: flex;
}

.main-menu ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: bold;
  transition: 0.5s;
}

.navbar ul a:hover {
  color: var(--primary-color);
}

/* Utility classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.containe-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
