* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  font-size: 16px;
}
:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

/* Navbar */

.navbar {
  padding: 20px;
  background-color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .main-menu ul {
  display: flex;
}

.main-menu ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: bold;
  transition: 0.5s;
}

.btn i {
  margin-right: 5px;
}

.navbar ul a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero-text p {
  margin-bottom: 40px;
}

.hero-text {
  width: 70%;
}

.hero .container {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}
/* Video */
.video {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: 50px;
}
.video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 50px 0px;
}

.video .container > * {
  margin: 10px 0;
}

/* Testimonial's */

.testimonial {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 30px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 0 50px 0;
}

.card {
  background: var(--light-color);
  color: var(--dark-color);
  border: 2px solid black;
  border-radius: 20px;
  padding: 25px;
}

.testimonial-txt {
  width: 60%;
  padding: 20px 0;
  font-weight: 600;
}

.card p:nth-child(2) {
  margin-top: 20px;
  font-weight: 600;
}

/* Pricing */
.pricing .container {
  width: 50%;
}
.pricing-txt {
  padding: 30px 0;
  text-align: center;
}

.pricing-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.pricing-cards-grid .card {
  border: none;
}

.pricing-cards-grid .card:last-child {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.pricing-cards-grid .card span h2 {
  display: inline;
}

.pricing-cards-grid .card p {
  font-weight: normal;
}

.pricing-cards-grid .card ul {
  padding: 20px;
}

.pricing-cards-grid .card ul li {
  padding: 7px 0;
}

.pricing-cards-grid .card > * {
  margin-top: 10px;
  display: block;
}

.pricing-cards-grid .card a {
  text-align: center;
}
/* FAQ's */
.main-header {
  text-align: center;
}
.faq-container {
  display: flex;
  justify-content: center;
}
.main-header ul {
  display: inline;
  justify-content: center;
  margin: 10px 0;
  width: fit-content;
  background: var(--light-color);
  border-radius: 10px;
  padding: 10px;
}

.main-header ul li {
  display: inline;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 2px;
  border-radius: 5px;
}

.faq-container .active {
  color: #fff;
  background-color: var(--primary-color);
}

/* Questions */
.question {
  margin: 3rem;
}

.question h3 {
  font-weight: normal;
  width: 85%;
}

.q-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.q-header i {
  cursor: pointer;
}

.hidden {
  display: none;
}

.question p {
  font-size: 0.7rem;
  width: 85%;
  padding: 0.5rem 0;
  max-height: 500px;
  overflow: hidden;
  transition:
    max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.question p.hidden {
  /* Not .question .hidden */
  max-height: 0;
  padding: 0;
}

.trigger {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.trigger.fa-minus {
  transform: rotate(180deg);
}

.footer {
  background-color: #111;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 334px;
}

.footer-container {
  width: 90%;
  display: flex;
  gap: 5rem;
}
.growth {
  width: 534px;
}

.abt > * {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.newsletter {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 70%;
  margin-top: 1rem;
}
.newsletter > * {
  margin-top: 0.8rem;
}

.newsletter h1 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1;
}

.email {
  padding: 10px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 0.5rem;
  margin: 0.3rem 0.2rem;
}

/* Utility classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.containe-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: var(--light-color);
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.txt-xxl {
  font-size: 2.8rem;
  line-height: 1.5;
  margin: 20px 0 10px;
  font-weight: 600;
}

.txt-xl {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 20px 0 10px;
  font-weight: normal;
}

.txt-lg {
  font-size: 2rem;
  line-height: 1.2;
  margin: 20px 0 10px;
  font-weight: normal;
}

.txt-md {
  font-size: 1.5rem;
  line-height: 1;
  margin: 20px 0 10px;
  font-weight: normal;
}
.txt-sm {
  font-size: 1.2rem;
  line-height: 1;
  margin: 10px 0 10px;
  font-weight: normal;
}

.txt-align {
  text-align: center;
}
.mobile-menu {
  display: none;
}

hr {
  background-color: #222222;
  border: none;
  height: 2px;
  margin: 1rem 0;
  width: 90%;
}

@media (max-width: 960px) {
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }
  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000ed;
  }
  .mobile-menu {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  .mobile-menu i {
    position: fixed;
    right: 0;
    top: 10px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
  }
  .mobile-menu ul {
    position: absolute;
    top: 20%;
    right: 30%;
  }

  .mobile-menu ul li a {
    color: #f4f4f6;
  }
  .mobile-menu ul li {
    padding: 1rem 0;
  }
  .sign {
    color: #111 !important;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0 0 50px 0;
  }
  .testimonial-txt {
    width: 80%;
    padding: 20px 0;
    font-weight: normal;
    font-size: 20px;
  }

  .txt-xl {
    font-size: 2rem;
  }
  .pricing-cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 30px 0;
  }
  .footer {
    font-size: 10px;
    height: 700px;
  }
  .footer-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .hero-text .txt-xxl {
    font-size: 2rem;
  }
  .growth {
    width: 400px;
  }

  .pricing .container {
    width: 80%;
  }
}
