* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  font-size: 16px;
}
:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

/* Navbar */

.navbar {
  padding: 20px;
  background-color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .main-menu ul {
  display: flex;
}

.main-menu ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: bold;
  transition: 0.5s;
}

.btn i {
  margin-right: 5px;
}

.navbar ul a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero-text p {
  margin-bottom: 40px;
}

.hero-text {
  width: 70%;
}

.hero .container {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}
/* Video */
.video {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: 50px;
}
.video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 50px 0px;
}

.video .container > * {
  margin: 10px 0;
}

/* Testimonial's */

.testimonial {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 30px;
}

hr {
  background-color: #222222;
  border: none;
  height: 1px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 0 50px 0;
}

.card {
  background: var(--light-color);
  color: var(--dark-color);
  border: 2px solid black;
  border-radius: 20px;
  padding: 25px;
}

.testimonial-txt {
  width: 60%;
  padding: 20px 0;
  font-weight: 600;
}

.card p:nth-child(2) {
  margin-top: 20px;
  font-weight: 600;
}

/* Pricing */
.pricing .container {
  width: 50%;
}
.pricing-txt {
  padding: 30px 0;
  text-align: center;
}

.pricing-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.pricing-cards-grid .card {
  border: none;
}

.pricing-cards-grid .card:last-child {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.pricing-cards-grid .card span h2 {
  display: inline;
}

.pricing-cards-grid .card p {
  font-weight: normal;
}

.pricing-cards-grid .card ul {
  padding: 20px;
}

.pricing-cards-grid .card ul li {
  padding: 7px 0;
}

.pricing-cards-grid .card > * {
  margin-top: 10px;
  display: block;
}

.pricing-cards-grid .card a {
  text-align: center;
}

/* Utility classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.containe-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: var(--light-color);
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.txt-xxl {
  font-size: 2.8rem;
  line-height: 1.5;
  margin: 20px 0 10px;
  font-weight: 600;
}

.txt-xl {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 20px 0 10px;
  font-weight: normal;
}

.txt-lg {
  font-size: 2rem;
  line-height: 1.2;
  margin: 20px 0 10px;
  font-weight: normal;
}

.txt-md {
  font-size: 1.5rem;
  line-height: 1;
  margin: 20px 0 10px;
  font-weight: normal;
}
.txt-sm {
  font-size: 1.2rem;
  line-height: 1;
  margin: 10px 0 10px;
  font-weight: normal;
}

.txt-align {
  text-align: center;
}
